.site-header{
  z-index: 10;
  border-bottom: none;
  border-top: 5px solid $brand-color;
}

.site-title{
  padding: 5px;
  >img{
    max-height: 35px;
  }
}
.site-nav{
  background-color: transparent;
  .trigger{
    > .page-link{
      text-transform: uppercase;
      font-weight: bold;
      color: $brand-color;
      text-decoration: none;
      &:hover{
        color: $grey-color;
      }
    }
  }
}
.button{
  text-align: center;
  text-decoration: none;
  background-color: $brand-color;
  max-width: 250px;
  margin: 30px auto;
  color: white;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3);

  &:hover{
    background-color: darken($brand-color, 15%);
    text-decoration: none;
    color: white;
  }
  &:visited{
    color: white;
  }
}
section{
  padding: 40px 0;
  min-height: 85vh;

  .section-title{
    font-family: 'Anton';
    font-size: 30px;
    color: $secondary-color;
    margin-bottom: 50px
  }
}

  #top-header{
    min-height: 85vh;
    position: relative;
    >.background{
      z-index: -1;
      position: absolute;
      top: -100px;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('/images/04.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.2;
    }

    .top-text{
      opacity: 1;
      font-family: 'Anton';
      font-size: 40px;
      padding-top: 45vh;
      color: $secondary-color;
    }
  }
  #historia{
    min-height: 40vh;
    text-align: center;
    .section-title{
      text-align: left;
    }
    .info{
      text-align: center;
      margin-top: 50px;

      >.date{
        text-align: center;
        width: 120px;
        display: inline-block;
        padding: 5px;
        > p{
          margin: 5px;
          &:first-child{
            font-weight: bold;
          }
        }
        &.casamento{
          border: 2px solid $secondary-color;
        }
      }
    }
  }

  #casamento{
    min-height: 50vh;
    background-color: $brand-color;
    color: white;

    .section-title{
      text-align: center;
      font-size: 60px;
    }
    .info{
      margin: 10px auto;
      text-align: center;
      font-size: 18px;
      > .info-item{
        display: inline-block;
        max-width: 50%;
        padding: 20px;
        vertical-align: top;
        @media screen and (max-width: 640px){
          display: block;
          max-width: 100%;
          text-align: center;
        }
        > h3{
          font-weight: bold;
          letter-spacing: 6px;
        }
        >p{
          margin: 2px;
          >a{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }

  #confirmacao{
    background-image: url('/images/floral.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25vh;
    min-height: 50vh;
    .section-title{
      text-align: center;
      font-size: 60px;
      margin-bottom: 10px;
    }
    .text-info{
      text-align: center;
      font-size: 16px;
      > a.button{
        max-width: 290px;
      }
      >.details{
        border: 1px solid $brand-color;
        padding: 10px;
        text-align: left;
        font-size: 12px;
        margin: 80px auto;
        max-width: 50vw;
        @media screen and (max-width: 640px){
          max-width: 90vw;
        }
        >p{
          margin: 2px;
        }
      }
    }
  }

  #dicas{
    position: relative;
    text-align: center;
    min-height: 40vh;
      >.background{
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/images/dicas.jpeg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.1;
      }
      .section-title{
        color: $brand-color;
      }
    hr{
      width: 30px;
      border: 4px solid $brand-color;
      margin: 0 auto;
    }
    .hotel, .salao, .vestimentas{
      margin: 50px auto;
      max-width: 50vw;
      @media screen and (max-width: 640px){
        max-width: 90vw;
      }

      >h3{
        font-family: 'Anton';
        font-size: 18px;
      }
      >p{
        font-size: 12px;
        >a{
          max-width: 200px;
          min-width: 120px;
          margin: 20px auto;
          font-weight: bold;
          padding: 10px;
          border: 1px solid $secondary-color;
          display: block;
          &:hover{
            text-decoration: none;
            background-color: $secondary-color;
          }
        }
      }
    }
    .vestimentas{
      >p{
        >a{
          display: inline-block;
          @media screen and (max-width: 640px){
            display: block;
          }
        }
      }
    }
  }

  #presentes{
    .section-title{
      text-align: center;
      font-size: 35px;
      letter-spacing: 2.5px;
    }
    .text-info{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 20px 10px;
      font-size: 18px;
      max-width: 45%;
      @media screen and (max-width: 960px){
        display: block;
        max-width: 90%;
      }
      > p{
        margin: 2px 0;
      }

    }
    .img-info{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: 5px;
      max-width: 45%;
      @media screen and (max-width: 960px){
        display: block;
        max-width: 90%;
      }
    }
    hr{
      margin: 30px 0;
      color: #979797;
    }
    .presentes-dica{
      >h3{
        font-family: 'Anton';
      }
      > div{
        display: inline-block;
        max-width: 48%;
        vertical-align: top;
        @media screen and (max-width: 960px){
          display: block;
          max-width: 90%;
          text-align: center;
        }
      }
      > .dica{
        text-align: right;
        padding: 20px;
        @media screen and (max-width: 960px){
          text-align: center;
        }

        >h3{
          color: $secondary-color;
          font-family: 'Anton';
        }
      }
    }
  }

  #casanova{
    min-height: 300px;
    background-color: $brand-color;
    color: white;

    .section-title{
      text-align: center;
      font-size: 40px;
    }
    .text-info{
      text-align: center;
      > hr{
        max-width: 200px;
        margin: 0 auto;
        border: 1px dashed white;
      }
      >p{
        margin: 15px auto;
      }
      >#date{
        font-family: 'Anton';
        color: $secondary-color;
        font-size: 18px;
      }
    }
  }

  #footer{
    min-height: 40px;
    text-align: center;
    font-size: 18px;
    >hr{
      color: $brand-color;
      max-width: 100px;
      margin: 0 auto;
      border: 4px solid;
      margin-bottom: 20px;
    }
    >p{
      >span{
        font-weight: bold;
        color: $brand-color;
      }
    }
  }
