---
layout: default
---

<div class="home">
  <section id="top-header">
    <div class="background"></div>
      <div class="wrapper">
        <div class="top-text">
          <h1>SIM, É VERDADE <br/>VAMOS CASAR</h1>
        </div>
      </div>
  </section>
  <section id="historia">
    <div class="wrapper">
      <h2 class="section-title">Nossa história começou assim...</h2>
      <p></p>
    </div>
  </section>
  <section id="presentes">
    <div class="wrapper">
      <h2 class="section-title">PRESENTES</h2>
      <div class="text-info">
        <p>quem não ama presente né?</p>
        <p>principalmente nós que estamos montando <b>nossa primeira casinha</b>!</p>
        <br>
        <p>escolhemos o <b>site de presentes</b> com a lista pois lá teremos a possibilidade de escolher do jeitinho que <b>sempre sonhamos</b>.</p>
          <a href="" class="button">VER A LISTA DE PRESENTES</a>
      </div>
      <div class="img-info">
        <img src="/images/01.jpg" alt="">
      </div>
      <hr>
    </div>
  </section>
</div>
