---
layout: default
---

<div class="home">
  <section id="top-header">
    <div class="background"></div>
      <div class="wrapper">
        <div class="top-text">
          <h1>SIM, É VERDADE <br/>VAMOS CASAR</h1>
        </div>
      </div>
  </section>
  <section id="historia">
    <div class="wrapper">
      <h2 class="section-title">Nossa história começou assim...</h2>
      <p></p>
    </div>
  </section>
  <section id="casamento">
    <div class="wrapper">
      <h2 class="section-title">O GRANDE DIA</h2>

      <div class="info">
        <div class="info-item" style="text-align: right">
          <h3>QUANDO</h3>
          <p>domingo, 26 de novembro de 2017</p>
          <p>a partir das 15h30</p>
        </div>
        <div class="info-item" style="text-align: left">
          <h3>ONDE</h3>
          <p><a href="https://goo.gl/maps/RU6jAkJa3xo" target="_blank">Chácara Villa dei Nonni</a></p>
          <p>R. Jerônimo Alberti, 415 . Colombo . PR </p>
        </div>
      </div>
    </div>
  </section>
  <section id="confirmacao">
    <div class="wrapper">
      <h2 class="section-title">CONFIRMAÇÃO</h2>
      <div class="text-info">
        <!-- Logo logo estaremos todos juntos nesse dia tão legal!

  Para confirmar sua presença funciona assim: 

  - Cada convidado recebeu o convite com seu nome escrito, você deve inserir exatamente como está lá aqui para confirmar sua presença.

  - Quem recebeu apenas um convite por família funciona igual, cada nome escrito no convite é uma confirmação separada.

  - Se no convite está escrito o seu nome & o nome de alguém, coloque apenas seu nome e inclua essa outra pessoa como acompanhante. Exemplo: João & Maria - escrever João, e selecionar 2 convidados adultos, depois irá incluir o nome da Maria como acompanhante no espaço indicado.



  - Crianças de 4 a 10 anos pagam meia no buffet, então ao inserir o nome da criança coloque a idade dela também. Ex.: Leonardo (10 anos) -->
      <a href="http://sites.icasei.com.br/pedroelayla/pt_br/rsvp" target="_blank" class="button">CONFIRMAR SUA PRESENÇA</a>
      </div>
    </div>
  </section>

  <section id="dicas">
    <div class="background"></div>
    <div class="wrapper">
      <h2 class="section-title">ALGUMAS DICAS</h2>

      <div class="hotel">
        <h4>ACOMODAÇÃO</h4>
        <p><a href="https://www.pousadabetania.com/">Pousada Betânia</a></p>
        <p>falar com Luciane</p>
      </div>
      <div class="salao">
        <h4>SALÃO DE BELEZA</h4>
        <p><a href="https://www.facebook.com/salaobia1/">Espaço Bia</a></p>
        <p>o Espaço Bia, estará aberto apenas para nossos convidados. Agendar com antecedência</p>
      </div>
      <hr>
    </div>
  </section>

  <section id="presentes">
    <div class="wrapper">
      <h2 class="section-title">PRESENTES</h2>
      <div class="text-info">
        <p>quem não ama presente né?</p>
        <p>principalmente nós que estamos montando <b>nossa primeira casinha</b>!</p>
        <br>
        <p>escolhemos o <b>site de presentes</b> com a lista pois lá teremos a possibilidade de escolher do jeitinho que <b>sempre sonhamos</b>.</p>
          <a href="https://sites.icasei.com.br/pedroelayla/pt_br/store/9/1/1" target="_blank" class="button">VER A LISTA DE PRESENTES</a>
      </div>
      <div class="img-info">
        <img src="/images/presentes.jpeg" alt="">
      </div>
      <hr>
      <div class="presentes-dica">
        <h3>uma dica sobre os presentes</h3>
        <div>
          <img src="/images/presentes-dica.png" alt="">
        </div>
        <div class="dica">
          <h3>VOCÊ PODE OPTAR POR NOS DAR UM PRESENTE OU UMA PARTE DELE</h3>
          <p>para facilitar, os presentes foram divididos por cotas. </p>
          <p>então por exemplo, se quiser nos dar um liquidificador basta comprar as <b>5 cotas</b> disponíveis.</p>
          <p>você pode optar também por escolher várias cotas, uma de cada presente, assim poderá nos ajudar com várias opções.</p>
          <p><b>se você não quiser comprar pelo site, não tem problema, pode nos transferir o valor do presente diretamente.</b></p>

        </div>
        <p style="font-size: 10px">* pedimos com carinho para que deem preferencia pelo site ou pela transferência bancária assim evitamos aquela loucura de ir em várias lojas, ou de ganharmos presentes repetidos!</p>
      </div>
    </div>
  </section>

</div>
