---
layout: default
---

<div class="home">
  <section id="top-header">
    <div class="background"></div>
      <div class="wrapper">
        <div class="top-text">
          <h1>SIM, É VERDADE <br/>VAMOS CASAR</h1>
        </div>
      </div>
  </section>
  <section id="historia">
    <div class="wrapper">
      <h2 class="section-title">Nossa história começou assim...</h2>
      <p>um "oi jovem" pelo facebook e muitos bolos até que:</p>
      <div class="info">
        <div class="date">
          <p>29.11.2013</p>
          <p>primeiro beijo</p>
        </div>
        <div class="date">
          <p>30.09.2016</p>
          <p>noivado</p>
        </div>
        <div class="date casamento">
          <p>26.11.2017</p>
          <p>casamento</p>
        </div>
      </div>
    </div>
  </section>
  <section id="casamento">
    <div class="wrapper">
      <h2 class="section-title">O GRANDE DIA</h2>

      <div class="info">
        <div class="info-item" style="text-align: right">
          <h3>QUANDO</h3>
          <p>domingo, 26 de novembro de 2017</p>
          <p>a partir das 15h30</p>
        </div>
        <div class="info-item" style="text-align: left">
          <h3>ONDE</h3>
          <p><a href="https://goo.gl/maps/RU6jAkJa3xo" target="_blank">Chácara Villa dei Nonni</a></p>
          <p>R. Jerônimo Alberti, 415 . Colombo . PR </p>
        </div>
      </div>
    </div>
  </section>
  <section id="confirmacao">
    <div class="wrapper">
      <h2 class="section-title">RSVP</h2>
      <div class="text-info">
        <p><b>Estamos ansiosos para celebrar com você</b></p>
        <p>Confirme sua presença até 10 de novembro!</p>
        <a href="http://sites.icasei.com.br/pedroelayla/pt_br/rsvp" target="_blank" class="button">CONFIRMAR SUA PRESENÇA</a>
        <div class="details">
          <p>Para confirmar sua presença funciona assim: </p>
          <p>- Cada convidado recebeu o convite com seu nome escrito, você deve inserir <b>exatamente</b> como está lá para confirmar sua presença. </p>
          <p>- Quem recebeu apenas um convite por família, coloque apenas o <b>primeiro nome</b> escrito na tag e inclua os outros convidados como acompanhante.</p>
          <p>Exemplo: João, Maria e José - escrever João, e selecionar 3 convidados adultos, depois irá incluir o nome da Maria como acompanhante no espaço indicado.</p>
          <p>- Crianças de 4 a 10 anos pagam meia no buffet, então ao inserir o nome da criança coloque a idade dela também. Ex.: Leonardo (10 anos)</p>
        </div>
      </div>
    </div>
  </section>

  <section id="dicas">
    <div class="background"></div>
    <div class="wrapper">
      <h2 class="section-title">ALGUMAS DICAS</h2>

      <div class="hotel">
        <h4>ACOMODAÇÃO</h4>
        <p><a href="https://www.pousadabetania.com/">Pousada Betânia</a></p>
        <p>falar com Luciane</p>
      </div>
      <div class="salao">
        <h4>SALÃO DE BELEZA</h4>
        <p><a href="https://www.facebook.com/salaobia1/">Espaço Bia</a></p>
        <p>o Espaço Bia, estará aberto apenas para nossos convidados. Agendar com antecedência</p>
      </div>
      <hr>
    </div>
  </section>

  <section id="presentes">
    <div class="wrapper">
      <h2 class="section-title">PRESENTES</h2>
      <div class="text-info">
        <p>quem não ama presente né?</p>
        <p>principalmente nós que estamos montando <b>nossa primeira casinha</b>!</p>
        <br>
        <p>escolhemos o <b>site de presentes</b> com a lista pois lá teremos a possibilidade de escolher do jeitinho que <b>sempre sonhamos</b>.</p>
          <a href="https://sites.icasei.com.br/pedroelayla/pt_br/store/9/1/1" target="_blank" class="button">VER A LISTA DE PRESENTES</a>
      </div>
      <div class="img-info">
        <img src="/images/presentes.jpeg" alt="">
      </div>
      <hr>
      <p style="font-size: 12px">* pedimos com carinho para que deem preferencia pelo site ou pela transferência bancária assim evitamos aquela loucura de ir em várias lojas, ou de ganharmos presentes repetidos!</p>
    </div>
  </section>

  <section id="casanova">
    <div class="wrapper">
      <h2 class="section-title">CHÁ DE CASA NOVA</h2>
      <div class="text-info">
        <p>dois jovens apaixonados contam com sua ajuda para montar um lar.</p>
        <hr>
        <p style="margin: 10px auto;">vai ter churrasco e docinhos</p>
        <hr>
        <p id="date">no dia 11 de novembro ás 15:00</p>
        <p>para confirmar sua presença escolha um presentinho no site ou faça uma transferencia bancária com o valor e nos mande uma mensagem :)</p>
      </div>
    </div>
  </section>

  <section id="footer">
    <hr>
    <p>#casorio<span>pedro</span>e<span>layla</span></p>
  </section>

</div>
